.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
  }
  
  .hero-title {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }